<div>
    {{> header firstName=userInfo.firstName isAdmin=userInfo.isAdmin lastName=userInfo.lastName}}
    {{> title}}
    <div class="productInfo">
        <div class="productInfo_left">
            <img src='../img/products/{{data.thumbnail}}'>
        </div>
        <div class="productInfo_right">
            <h1>{{data.title}}</h1>
            <p>{{data.description}}</p>
            <p><span>$ </span>{{data.price}}</p>
            <p>Cantidad disponible: {{data.stock}}</p>
            <div class="buttons">
                <a href="/products" class="page-link">Regresar</a>
            </div>
        </div>
    </div>
    {{> footer}}
</div>

<script src="/socket.io/socket.io.js"></script>